.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px
}

.form-all-group {
  display: flex;
  flex-direction: wrap;
  margin: 5px;
  padding: 5px
}

.lab-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px
}


.input-check {
  display: flex;
  justify-content: center;
  align-items: center;
}